.card {
  position: relative;
  width: 380px;
  height: 460px;
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.cardDecor {
  z-index: -1;
}

.cardBottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 16px auto;
}

.cardName {
  position: absolute;
  top: calc(50% - 100px);
  display: block;
  width: 100%;
  height: 40px;
  font-size: 36px;
  color: #ebd8ff;
  overflow: hidden;
}

.cardAvatar {
  position: absolute;
  top: -96px;
  left: calc(50% - 31px);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
}

.cardText {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ebd8ff;
}

.cardText:last-of-type {
  margin: 16px auto 26px;
}

.cardBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  width: 196px;
  height: 50px;
  background-color: #ebd8ff;
  box-shadow: 0px 3.4px 3.4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color var(--transition);
}

.cardBtn:hover {
  background-color: #5cd3a8;
}

.cardBtnActive {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  width: 196px;
  height: 50px;
  background-color: #5cd3a8;
  box-shadow: 0px 3.4px 3.4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color var(--transition);
}

.cardBtnActive:hover {
  background-color: #ebd8ff;
}

.cardBtnText {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #373737;
}
