.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link {
  display: inline-flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-size: 14px;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  outline: 1px solid #471ca9;
  transition: all var(--transition);
}

.link:hover {
  background-color: rgba(75, 42, 153, 0.3);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .link {
    width: 150px;
    padding: 4px 12px;
    font-size: 16px;
  }
}
