.section {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
  }
}
