.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(https://images.unsplash.com/photo-1495464101292-552d0b52fe41?auto=format&fit=crop&w=1350&q=80)
      no-repeat center,
    linear-gradient(#4e4376, #2b5876);
  background-size: cover;
  border-top: 0.2em solid #fff;
}

.footerTitle {
  font-size: 18px;
  cursor: pointer;
}

.footerText {
  font-size: 16px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 40px;
  }

  .footerTitle {
    font-size: 24px;
  }

  .footerText {
    font-size: 16px;
  }
}
